body{width:850px; margin:0 auto; font-family:Sans-Serif;}
.half>a{width:50%;}
.third>a{width:33%;}
.quarter>a{width:25%;}
.fifth>a{width:20%;}
h1,h2{margin:1em 0 .25em 0; width:100%; float:left;}
div{margin:0; width:100%;}
div:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
div, div>a{float:left;}
div>a{display:block; text-indent:1em; line-height:1.5em; white-space:nowrap; overflow:hidden;}
